@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 7%;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  cursor: default;
}

nav img {
  width: 45px;
  height: 45px;
}

nav .website-name {
  font-size: 24px;
  font-weight: 500;
  font-family: Playfair Display, serif;
  font-weight: bold;
  color: #333;
}

nav a {
  text-decoration: none;
}

nav .search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  display: inline-block;
}

nav .search-input {
  height: 40px;
  width: 300px;
  padding: 5px 40px 5px 20px;
  border-radius: 50px;
  background-color: #f2f2f2;
  border: #f4bfc8 2px solid;
  font-size: medium;
  box-sizing: border-box;
}

nav .search-input:focus {
  outline: none;
  border: #f4bfc8 2px solid;
}

nav .search-button {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #333;
}

nav .icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .icons {
  position: relative;
  text-decoration: none;
  color: #333;
}

nav #cart-icon {
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  color: #333;
}

nav #cart-icon .cart-item-count {
  position: absolute;
  top: 0;
  right: -6px;
  width: 20px;
  height: 20px;
  background: #e35f26;
  font-size: 12px;
  border-radius: 50%;
  color: #fff;
  line-height: 20px;
  text-align: center;
  display: none;
}

nav .user-icon-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

nav #user-image {
  border: #f4bfc8 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.product-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 120px 7% 30px;
}

.product-detail .product-img {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 12px;
  height: 550px;
}

.product-detail .product-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-detail .thumbnail-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-detail .thumbnail-list img {
  height: calc(25% - 9px);
  cursor: pointer;
}

.product-detail .title {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 8px;
}

.product-detail .rating {
  color: #e35f26;
}

.product-detail .price {
  display: block;
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0px;
}

.product-detail :is(.color-selection) {
  margin: 20px 0;
}

.product-detail :is(.color-selection p) {
  margin-bottom: 10px;
}

.product-detail :is(.color-options) {
  display: flex;
  gap: 10px;
}

.product-detail .color-options img {
  width: 75px;
  height: 75px;
  border: 2px solid transparent;
  cursor: pointer;
}

.product-detail :is(.color-options .selected) {
  border: 3px #333 solid;
}

.btn {
  padding: 12px 50px;
  background: #333;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.product-detail .product-policy {
  border-top: 1px solid #f4f4f4;
  padding-top: 10px;
}

.product-detail .product-policy p {
  margin: 3px 0;
}/*# sourceMappingURL=product-detail_style.css.map */