@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

$white: #fff;
$dark: #333;
$gray: #f2f2f2;
$dark-gray: #777;
$light-gray: #f4f4f4;
$yellow: #f9c23c;
$color1: #f4bfc8;
$color2: #f3a0b9;
$color3: #ca6079;
$red: #e35f26;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  color: $dark;
  
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 7%;
  background: $white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  cursor:pointer;
}

nav img {
  width: 45px;
  height: 45px;
}

nav .website-name {
  font-size: 24px;
  font-weight: 500;
  font-family: Playfair Display, serif;
  font-weight: bold;
  color: $dark;
}

nav a {
  text-decoration: none;
}

nav .search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  display: inline-block;
}

nav .search-input {
  height: 40px;
  width: 300px;
  padding: 5px 40px 5px 20px;
  border-radius: 50px;
  background-color: $gray;
  border: $color1 2px solid;
  font-size: medium;
  box-sizing: border-box;
}

nav .search-input:focus {
  outline: none;
  border: $color1 2px solid;
}

nav .search-button {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: $dark;
}

nav .icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .icons {
  position: relative;
  text-decoration: none;
  color: $dark;
}

nav #cart-icon {
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  color: $dark;
}

nav #cart-icon .cart-item-count {
  position: absolute;
  top: 0;
  right: -6px;
  width: 20px;
  height: 20px;
  background: $red;
  font-size: 12px;
  border-radius: 50%;
  color: $white;
  line-height: 20px;
  text-align: center;
  display: none;
}

nav .user-icon-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

nav #user-image {
  border: $color1 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.product-collection {
  padding: 100px 7% 30px;
  background-color: $light-gray;
}

.product-collection h1 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.product-collection p {
  font-size: 18px;
  color: $dark-gray;
  text-align: center;
  font-family: "Outfit", serif;
}

.product-collection .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 35px;
}

.product-collection .product-list .product-card {
  background-color: $white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.product-collection .img-box {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  
}

.product-collection .img-box img {
  width: 100%;
  transition: 0.5s;
}

// .product-collection .img-box:hover img {
//   transform: scale(1.1); Edit this
// }

.product-collection .product-card:hover .img-box img {
  transform: scale(1.1);
}


.product-collection .title {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 15px;
}

.product-collection .price {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 15px;
  color: $color3;
}

// // details starts here

// .product-detail {
//   display: grid;
//   grid-template-columns: repeat(2,1fr);
//   gap: 40px;
//   padding: 130px 7% 30px;
// }

// .product-detail .product-img {
//   display: grid;
//   grid-template-columns: 1fr 4fr;
//   gap: 12px;
//   height: 550px;
// }

// .product-detail .product-img img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .product-detail .thumbnail-list {
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
// }

// .product-detail .thumbnail-list img {
//   height: calc(100% / 4 - 9px);
//   cursor: pointer;
// }

// .product-detail .title {
//   font-weight: 600;
//   line-height: 1;
//   margin-bottom: 8px;
// }

// .product-detail .rating {
//   color: $red;
// }

// .product-detail .price {
//   display: block;
//   font-size: 25px;
//   font-weight: 600;
//   margin: 20px 0px;
// }

// .product-detail :is(.color-selection) {
//   margin: 20px 0;
// }

// .product-detail :is(.color-selection p) {
//   margin-bottom: 10px;
// }

// .product-detail :is(.color-options) {
//   display: flex;
//   gap: 10px;
// }

// .product-detail .color-options img {
//   width: 75px;
//   height: 75px;
//   border: 2px solid transparent;
//   cursor: pointer;
// }

// .product-detail :is(.color-options .selected){
//   border: 3px $dark solid;
// }

// .btn {
//   padding: 12px 50px;
//   background: $dark;
//   border: none;
//   font-size: 16px;
//   color: $white;
//   cursor: pointer;
//   margin-bottom: 20px;
// }

// .product-detail .product-policy {
//   border-top: 1px solid $light-gray;
//   padding-top: 10px;
// }

// .product-detail .product-policy p {
//   margin: 3px 0;
// }


