@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

$white: #fff;
$dark: #333;
$gray: #f2f2f2;
$color1: #f4bfc8;
$color2: #f3a0b9;
$color3: #ca6079;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body {
  color: #333;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 9%;
  background: $white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

nav div img {
  width: 45px;
  height: 45px;
}

nav .search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  display: inline-block;
}

nav .search-input {
  height: 40px;
  width: 300px;
  padding: 5px 40px 5px 20px;
  border-radius: 50px;
  background-color: $gray;
  border: $color1 2px solid;
  font-size: medium;
  box-sizing: border-box;
}

nav .search-button {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust as needed */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: $dark;
}

nav .icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav .icons {
    text-decoration: none;
    color: $dark;
}

nav #cart-icon {
  background-color: $gray;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
}

nav .user-icon-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

nav #user-image {
  border: $color1 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
